<ion-content padding center text-center>
	<ion-title>TM Framework on Mulesoft!</ion-title>
	<ion-text color="danger">{{warningtext}}</ion-text>
	<ion-list>
		<ion-item>
			<ion-input placeholder="User name" [(ngModel)]="name" (ionChange)="ionClearErrorMessage()"></ion-input>
		</ion-item>
		<ion-item>
			<ion-input placeholder="Password" type="password" [(ngModel)]="password" (ionChange)="ionClearErrorMessage()"></ion-input>
		</ion-item>
	</ion-list>
	<ion-button expand="block" (click)="login()" >Log in</ion-button>
	<ion-button expand="block">Sign up</ion-button>
</ion-content>
